<div ng-controller="SettingbreadcrumbsCtrl" style="width:290px;">
    <div class="setting-content">
        <div class="form-group">
            <div class="col-sm-12">字体设置</div>
            <div class="col-sm-12">
                <select style="padding:0;" class="form-control page-dropdownlist"
                        ng-options="fontItem.key as fontItem.text for fontItem in source.fonts "
                        ng-model="data.fontName"></select>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-12">字号设置</div>
            <div class="col-sm-12">
                <select style="padding:0;" class="form-control page-dropdownlist"
                        ng-options="sizeItem as sizeItem for sizeItem in source.fontSizes "
                        ng-model="data.fontSize"></select>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-12">字体样式</div>
            <div class="col-sm-12 btn-group" style="padding-top:12px;">
                <button type="button" ng-class="{active:data.fontBold}" class="btn btn-default" ng-click="setBold()"><i class="fa fa-bold"></i></button>
                <button type="button" ng-class="{active:data.fontItalic}" class="btn btn-default" ng-click="setItalic()"><i class="fa fa-italic"></i></button>
                <button type="button" ng-class="{active:data.fontUnderline}" class="btn btn-default" ng-click="setUnderline()"><i class="fa fa-underline"></i></button>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-12">字体颜色</div>
            <div class="col-sm-12">
                <div class="btn-group" style="padding-top:2px;">
                    <input id="fontColorPicker" type="text" />
                </div>
            </div>
        </div>

        
    </div>
    <div class="setting-btn">
        <div class="col-sm-12 text-center">
            <button class="btn btn-primary" ng-click="applySetting();">确定</button>
        </div>
    </div>
</div>