<div style="width:300px;">
    <div class="setting-content">
        <div class="form-group row">
            <div class="col-sm-12">菜单名称：</div>
            <div class="col-sm-12">
                <input type="text" class="form-control" ng-model="menu.text">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-12">功能选择：</div>
            <div class="col-sm-12">
                <select class="form-control" ng-model="menu.dataForm">
                    <option value="1">指定一条后台数据</option>
                    <option value="2">外链</option>
                </select>
            </div>
        </div>
        <!--指定一条后台数据-->
        <div ng-show="menu.dataForm=='1'">
            <div class="form-group row">
                <div class="col-sm-12">选择数据：</div>
                <div class="col-sm-12">
                    <select class="form-control" ng-model="menu.type" ng-change="changeType()">
                        <option value="">文章</option>
                        <option value="product">产品</option>
                        <option value="job">招聘</option>
                    </select>
                </div>
            </div>
            <div class="form-group row" ng-show="menu.type ===''">
                <div class="col-sm-4 nopadding text-right">文章类型：</div>
                <div class="col-sm-8 text-left">
                    <select class="form-control" ng-model="menu.type1" ng-change="changeType()">
                        <option value="news">新闻</option>
                        <option value="article">简介</option>
                        <option value="download">下载</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-4 nopadding text-right">
                    <span ng-show="menu.type ===''">文章分类：</span>
                    <span ng-show="menu.type ==='product'">产品分类：</span>
                    <span ng-show="menu.type ==='job'">招聘分类：</span>

                </div>
                <div class="col-sm-8 text-left">
                    <select class="form-control" ng-model="menu.category" ng-change="changeCategory()">
                        {{menu.category}}
                        <option ng-repeat="category in categorys" value="{{category.link}}">{{category.title.text}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-4 nopadding text-right">
                    <span ng-show="menu.type ===''">文章筛选：</span>
                    <span ng-show="menu.type ==='product'">产品筛选：</span>
                    <span ng-show="menu.type ==='job'">招聘筛选：</span>
                </div>
                <div class="col-sm-8 text-left">
                    <input class="form-control" ng-model="menu.condition">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-4 nopadding text-right">
                    <span ng-show="menu.type ===''">文章选择：</span>
                    <span ng-show="menu.type ==='product'">产品选择：</span>
                    <span ng-show="menu.type ==='job'">招聘选择：</span>
                </div>
                <div class="col-sm-8 text-left list">
                    <ul class="list-group" style="height:200px;overflow:hidden;overflow-y:auto;">
                        <li class="list-group-item ng-binding" ng-repeat="list in contentList | filter:menu.condition" ng-class="{'active':menu.link.text ===list.link.text}" ng-click="getHref(list)">{{list.title.text}}</li>
                    </ul>
                </div>
            </div>
        </div>
        <!--外链-->
        <div class="form-group row" ng-show="menu.dataForm=='2'">
            <div class="col-sm-12">输入外链：</div>
            <div class="col-sm-12">
                <input class="form-control" ng-model="menu.href">
                <span style="color: #9E9696;font-size: 13px;">以http://或者https:// 开头</span>
            </div>
        </div>
    </div>

    <div class="setting-btn">
        <div class="form-group text-center">
            <button class="btn btn-primary" ng-click="addDefinedMenu($event)">确定</button>
        </div>
    </div>
</div>