<div ng-controller="SettingLoginCtrl" style="width:295px;margin-top:16px;">
    <div class="setting-content">
        <div class="form-group">
            <div class="col-sm-12">
                <label class="nofontweight">注册验证码:</label>
            </div>
            <div class="col-sm-12">
                <select class="form-control" ng-model="data.verificationCode">
                    <option value="1">是</option>
                    <option value="0">否</option>
                </select>
            </div>
        </div>

      <!--  <div class="form-group row">
            <div class="col-sm-6">注册信息：</div>
            <div class="col-sm-6" style="text-align:right"><button class="btn btn-primary" ng-click="btnAdd()">添加</button></div>
        </div>

        <table class="table table-bordered">
            <tr>
                <th>注册项</th>
                <th>排序</th>
                <th>操作</th>
            </tr>
            <tr ng-repeat="item in data.registerFields | filter  :{selected:true}">
                <td>{{item.title}}</td>
                <td><input type="text" class="form-control" ng-model="item.sort" style="width:70px;" /></td>
                <td>
                    <a href="javascript:void(0);" ng-click="changeDisplay(item)">
                        <span ng-show="item.display">显示</span>
                        <span ng-hide="item.display">隐藏</span>
                    </a>
                    &nbsp;
                    <a href="javascript:void(0);" ng-click="changeRequired(item)">
                        <span ng-show="item.required">必填</span>
                        <span ng-hide="item.required">非必填</span>
                    </a>
                    &nbsp;
                    <i ng-hide="item.default" class="iconfont icon-delete" style="cursor:pointer" ng-click="changeDeleted(item)"></i>
                </td>
            </tr>
        </table> -->

    </div>
    <div class="setting-btn">
        <div class="form-group text-center">
            <button class="btn btn-ok" ng-click="btnOK()">确定</button>
        </div>
    </div>
</div>