<div ng-controller="SettingslideCtrl" style="width:300px;">
    <div class="setting-content">
        <div class="form-group row nomargin" ng-show="isCompontent">
            <div class="col-sm-12 K-VHcenter k-re-image k-shade " style="height:145px;">
                <img ng-src="{{data.$item$[0].image.url}}" style="height:145px;" />
                <div class="K-VHcenter k-shade-MlayerB">
                    <ad-manage title="选择" callback="adCallback" value="{{data.$dataconfig}}"></ad-manage>
                    <!--<a class="btn btn-default" href="javascript:void(0)" ng-click="imagesFile()">图片管理</a>-->
                </div>
            </div>
        </div>
            <div class="form-group row nomargin">
                <div class="col-sm-12">
                    <label class="control-label nofontweight">自动切换</label>
                    <select class="form-control" ng-model="data.attrs.autoPlay">
                        <option value="true" >是</option>
                        <option value="false">否</option>
                    </select>
                </div>
            </div>
        <div class="form-group row nomargin">
            <div class="col-sm-12">
                <label class="control-label nofontweight">时间间隔</label>
                <select class="form-control " ng-model="data.attrs.autoPlayInterval" ng-disabled="data.attrs.autoPlay=='false'">
                    <option value="1000">1秒</option>
                    <option value="2000">2秒</option>
                    <option value="3000">3秒</option>
                    <option value="4000">4秒</option>
                    <option value="5000">5秒</option>
                </select>
            </div>
        </div>
        <div class="form-group row nomargin">
            <div class="col-sm-12">
                <label class="control-label nofontweight">是否显示左右按钮：</label>
                <select class="form-control" ng-model="data.attrs.isShowIcon">
                    <option value="true" >是</option>
                    <option value="false">否</option>
                </select>
            </div>
        </div>
        </div>

    <div class="setting-btn">   
        <div class="form-group row nomargin">
            <div class="col-sm-12 text-center">
                <button class="btn btn-ok" ng-click="applySetting();">确定</button>
            </div>
        </div>
    </div>
</div>