<div ng-controller="SettingtextCtrl" style="width:750px; margin-top:10px;">
    <div class="setting-content" style="overflow:hidden;">
        <div class="form-group row nomargin" style="margin-bottom:0px;overflow:hidden;">
            <div class="col-sm-12">
                <div class="summernote"></div>
            </div>
        </div>

        <div class="setting-btn" style="margin-right:5px;">
            <div class="text-right">
                <button class="btn btn-ok" ng-click="applySetting()">确定</button>
            </div>
        </div>

    </div>
    <div style="visibility:hidden;" link-manage="linkCallback"></div>
</div>