<div ng-controller="SettingtextCtrl" style="min-width:500px;">
    <div class="setting-btn">
        <form class="form-horizontal">
            <div class="form-group ">
                <div class="summernote"></div>
            </div>
            <div class="form-group">
                <div class="col-sm-12 text-center">
                    <button class="btn btn-primary" ng-click="applySetting();">确定</button>
                </div>
            </div>
        </form>
    </div>
    <div style="visibility:hidden;" link-manage="linkCallback"></div>
</div>