<div class="contentList" data-pagesize="{{data.pageSize}}">
    <div class="content_list">
        <ul class="content-list">
            <li class="title" style="display:none;">
                <h4></h4>
            </li>
            <li class="first-list" ng-repeat="dataItem in data.$item$" ng-if="$index == 0">
                <img src="{{dataItem.image.url}}" title="{{dataItem.title.text}}">
                <div class="first-list-content">
                    <h5>{{dataItem.title.text}}</h5>
                    <span>{{dataItem.description.text}}</span>
                    <a class="btn-detail" href="{{dataItem.url}}" target="_blank">阅读详细>></a>
                </div>
            </li>
            <li ng-repeat="dataItem in data.$item$" ng-if="$index != 0">
                <a href="{{dataItem.url}}" title="{{dataItem.title.text}}" target="_blank">
                    <span class="title">{{dataItem.title.text}}</span>
                    <span class="time">[{{dataItem.pubDate.text}}]</span>
                </a>
            </li>
        </ul>
    </div>

    <div id="kpluspaging">
        <div class="content-page text-right" id="content-page" ng-show="data.isPaged === 'true'">
            <ul class="pagination">
                <li ng-class="active"><a href="javascript:void(0)">首页</a></li>
                <li><a href="javascript:void(0);">上一页</a></li>
                <li><a href="javascript:void(0);">1</a></li>
                <li><a href="javascript:void(0);">下一页 ></a></li>
                <li><a href="javascript:void(0)">末页</a></li>
            </ul>
            <ul class="page_skp">
                <li>共{{totalPage}}页</li>
                <li>跳转到第</li>
                <li><input class="form-control text-center page_skip" id="goPage" type="text" ng-model="pageNumber"></li>
                <li>页</li>
            </ul>
        </div>
    </div>


    <div id="kpluspagingData" style="display:none;">没有数据请添加数据</div>
</div>