#_panelId_ .content_list ul.news {
    list-style: none;
    height: auto;
    overflow: hidden;
    padding: 0px;
}

    #_panelId_ .content_list ul.news li {
        padding: 0px 5px;
        border: 1px solid #ddd;
        border-bottom: none;
    }

        #_panelId_ .content_list ul.news li::after {
            border-bottom: 1px solid #ddd;
        }

        #_panelId_ .content_list ul.news li, #_panelId_ .content_list ul.news li a {
            width: 100%;
            display: block;
            text-overflow: ellipsis;
            white-space: normal;
            overflow: hidden;
            height: 40px;
            line-height: 40px;
        }

            #_panelId_ .content_list ul.news li a span.title {
                width: 70%;
                float: left;
                display: inline-block;
                text-align: left;
            }

            #_panelId_ .content_list ul.news li a span.time {
                width: 25%;
                float: right;
                display: inline-block;
                text-align: right;
            }

#_panelId_ .content_list ul.product {
    list-style: none;
    height: auto;
    overflow: hidden;
    padding: 0px;
}

    #_panelId_ .content_list ul.product li {
        float: left;
        padding: 10px;
    }

        #_panelId_ .content_list ul.product li a {
            display: block;
            height: 350px;
            border: 1px solid #ddd;
            overflow: hidden;
            text-align: left;
        }

            #_panelId_ .content_list ul.product li a:hover {
                color: #000;
                text-decoration: none;
                border: 3px solid red;
            }

            #_panelId_ .content_list ul.product li a > div {
                padding: 5px;
            }

            #_panelId_ .content_list ul.product li a img {
                width: 100%;
                height: 210px;
                margin-bottom: 10px;
            }

            #_panelId_ .content_list ul.product li a div span, #_panelId_ .content_list ul.product li a div h4 {
                display: inline-block;
            }

            #_panelId_ .content_list ul.product li a div h4 {
                color: #B92F2F;
            }

    #_panelId_ .content_list ul.product span.title:hover {
        text-decoration: underline;
        color: red;
    }

    #_panelId_ .content_list ul.product span {
        height: 20px;
        overflow: hidden;
        display: block;
    }

        #_panelId_ .content_list ul.product span.view {
            padding: 0 5px;
            color: #c2c2c2;
            display: block;
            line-height: 25px;
            border-top: 1px solid #ddd;
        }

    #_panelId_ .content_list ul.product a.VIP-price {
        overflow: hidden;
        white-space: normal;
        text-overflow: ellipsis;
        height: 40px;
    }

/*#_panelId_ .content_list ul.content-list h4{  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

  #_panelId_  .content_list ul.content-list li a {
        color: #5a5a5a;
        text-decoration: none;
        line-height: 30px;
        overflow: hidden;
          width: 90%;
  height: 90%;
  display: inline-block;
    }

      #_panelId_  .content_list ul.content-list li a:hover {
            text-decoration: none;
        }

  #_panelId_  .content_list ul.content-list .span-left {
        float: left;
        width: 80%;
    }

   #_panelId_ .content_list ul.content-list .span-right {
        float: right;
        width: 18%;
    }

  #_panelId_  .content_list ul.content-list li h4 {
        margin: 0px;
        font-weight: bolder;
    }

  #_panelId_  .content_list ul.content-list li.list {
        padding: 15px 0px;
        border-bottom: 1px solid #e3e3e3;
    }

#_panelId_ .content_list li.list .list-left {
    width: 20%;
    float: left;
    height: 110px;
}

    #_panelId_ .content_list li.list .list-left img {
        width: 100%;
        height: 100%;
    }

#_panelId_ .content_list li.list .list-right {
    width: 78%;
    float: right;
    height: 110px;
    line-height: 23px;
}

#_panelId_ .content_list li.list .list-right.h4-margin h4 {
        margin-top: 40px;
        font-weight: bolder;
    }

  #_panelId_  .content_list li.list .list-right p {
        margin: 0px;
    }

      #_panelId_  .content_list li.list .list-right p.descript {
            height: 45px;
            overflow: hidden;
            width: 100%;
            white-space: normal;
            margin: 10px 0px;
        }

#_panelId_ .content_list li.product-images {
    float: left;
}

   #_panelId_ .content_list li.product-images img {
        width: 100%;
        height: 100%;
    }
    #_panelId_ .content_list li.product-images.image-title img{
        width: 100%;
        height: 80%;
    }
    #_panelId_ .content_list li.product-images.image-title-price img{
        width: 100%;
        height: 65%;
    }
    #_panelId_ .content_list li.product-images.image-title-descript img{
        width: 100%;
        height: 55%;
    }


#_panelId_ .content_list ul.content-list li h4.product-list-title {
    display: block;
    margin-top: 10px;
      height: 19px;
  overflow: hidden;
    text-overflow: ellipsis;
  white-space: nowrap;
}

#_panelId_ .content_list .product-list-price {
    display: block;
    color: #db202e;
    font-weight: bold;
}

#_panelId_ .content_list .product-list-descript {
    height: 45px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    line-height: 23px;
    margin-top: 10px;
      text-overflow: ellipsis;
  white-space: nowrap;
}
#_panelId_ .content-page {
    height:100px;
    overflow:hidden;
}*/

/*分页*/
#_panelId_ .pagination {
    font-size: 12px;
    margin: 0;
    vertical-align: middle;
}

    #_panelId_ .pagination li a {
        color: #606060;
        border-color: #cfcfcf;
        margin: 0px 3px;
    }

#_panelId_ ul.page_skp {
    font-size: 12px;
    padding: 0;
    color: #707070;
    display: inline-block;
    margin: 0;
    ertical-align: middle;
}

    #_panelId_ ul.page_skp li {
        display: inline-block;
        vertical-align: middle;
        padding-left: 5px;
    }

        #_panelId_ ul.page_skp li .page_skip {
            color: #606060;
            width: 34px;
            padding: 6px 0;
        }

#_panelId_ .pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
    color: #fff;
    background-color: #c2c2c2;
    border-color: #c2c2c2;
}
