#_panelId_ .content_list ul.content-list {
    list-style: none;
    height: auto;
    overflow: hidden;
    padding: 0px;
    font-size: 14px;
}

    #_panelId_ .content_list ul.content-list li {
        border: 1px solid #797979;
        border-bottom: none;
        height: 70px;
        line-height: 40px;
    }

        #_panelId_ .content_list ul.content-list li a {
            padding: 15px;
        }

        #_panelId_ .content_list ul.content-list li::after {
            border-bottom: 1px solid #797979;
        }

        #_panelId_ .content_list ul.content-list li, #_panelId_ .content_list ul.content-list li a {
            width: 100%;
            display: block;
            text-overflow: ellipsis;
            white-space: normal;
            overflow: hidden;
            font-weight: bolder;
        }

            #_panelId_ .content_list ul.content-list li a span.title {
                color: #797979;
                width: 70%;
                float: left;
                display: inline-block;
                text-align: left;
                text-overflow: ellipsis;
                white-space: normal;
                overflow: hidden;
            }

            #_panelId_ .content_list ul.content-list li a span.time {
                width: 25%;
                float: right;
                display: inline-block;
                text-align: right;
                color: #797979;
            }

            #_panelId_ .content_list ul.content-list li.first-list {
                height: 165px;
                line-height: 25px;
                color: #797979;
                font-weight: normal;
                padding: 15px;
            }

                #_panelId_ .content_list ul.content-list li.first-list h5 {
                    font-size: 14px;
                    font-weight: bold;
                }

                #_panelId_ .content_list ul.content-list li.first-list img {
                    width: 30%;
                    height: 100%;
                    float: left;
                }

                #_panelId_ .content_list ul.content-list li.first-list .first-list-content {
                    width: 68%;
                    float: right;
                }

                #_panelId_ .content_list ul.content-list li.first-list .btn-detail {
                    color: #c4952b;
                    border: 1px solid #c4952b;
                    text-align: center;
                    background-color: #fff;
                    float: right;
                    width: 81px;
                    height: 27px;
                    line-height: 25px;
                    font-size: 12px;
                    margin-top: 5px;
                    padding: 0px;
                }


/*分页*/
#_panelId_ .pagination {
    font-size: 12px;
    margin: 0;
    vertical-align: middle;
}

    #_panelId_ .pagination li a {
        color: #606060;
        border-color: #cfcfcf;
        margin: 0px 3px;
    }

#_panelId_ ul.page_skp {
    font-size: 12px;
    padding: 0;
    color: #707070;
    display: inline-block;
    margin: 0;
    ertical-align: middle;
}

    #_panelId_ ul.page_skp li {
        display: inline-block;
        vertical-align: middle;
        padding-left: 5px;
    }

        #_panelId_ ul.page_skp li .page_skip {
            color: #606060;
            width: 34px;
            padding: 6px 0;
        }

#_panelId_ .pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
    color: #fff;
    background-color: #c2c2c2;
    border-color: #c2c2c2;
}
