#_panelId_ .thumbnail-container {
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 456px;
    background: #191919;
    overflow: hidden;
}

#_panelId_ .thumbnail-region {
    cursor: move;
    width: 100%;
    height: 356px;
    overflow: hidden;
}


#_panelId_ .thumbnail-container > .thumbnail-navigator {
    position: absolute;
}


/*a05*/
#_panelId_ .thumbnail-container .thumbnail-navigator.a05.left,
#_panelId_ .thumbnail-container .thumbnail-navigator.a05.right {
    display: block;
    /* size of arrow element */
    width: 40px;
    height: 40px;
    cursor: pointer;
    background: url(/images/kdesign/carousel/a17.png) no-repeat;
    overflow: hidden;
}

#_panelId_ .thumbnail-container .thumbnail-navigator.a05.left {
    top: 158px;
    left: 8px;
    background-position: -10px -40px;
}

    #_panelId_ .thumbnail-container .thumbnail-navigator.a05.left:hover {
        background-position: -130px -40px;
    }

    #_panelId_ .thumbnail-container .thumbnail-navigator.a05.left.thumbnail-navigatordn {
        background-position: -250px -40px;
    }

#_panelId_ .thumbnail-container .thumbnail-navigator.a05.right {
    top: 158px;
    right: 8px;
    background-position: -70px -40px;
}

    #_panelId_ .thumbnail-container .thumbnail-navigator.a05.right:hover {
        background-position: -190px -40px;
    }

    #_panelId_ .thumbnail-container .thumbnail-navigator.a05.right.thumbnail-navigatordn {
        background-position: -310px -40px;
    }

#_panelId_ .thumbnail-navigator.nv-thumbnail {
    left: 0;
    bottom: 0;
}

    #_panelId_ .thumbnail-navigator.nv-thumbnail.t01 {
        width: 100%;
        height: 100px;
    }

        #_panelId_ .thumbnail-navigator.nv-thumbnail.t01 > .thumbnail-region {
            cursor: default;
        }

        #_panelId_ .thumbnail-navigator.nv-thumbnail.t01 .current {
            position: absolute;
            top: 0;
            left: 0;
            width: 72px;
            height: 72px;
        }

        #_panelId_ .thumbnail-navigator.nv-thumbnail.t01 .current-border {
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
        }

        #_panelId_ .thumbnail-navigator.nv-thumbnail.t01 .current-template {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border: none;
        }

        #_panelId_ .thumbnail-navigator.nv-thumbnail.t01 .current-target {
            position: absolute;
            top: 0px;
            left: 0px;
            width: 68px;
            height: 68px;
            border: #000 2px solid;
            box-sizing: content-box;
            background: url(/images/kdesign/carousel/t01.png) -800px -800px no-repeat;
            _background: none;
        }

        #_panelId_ .thumbnail-navigator.nv-thumbnail.t01 .currentav .current-target {
            top: 2px;
            _top: 0px;
            left: 2px;
            _left: 0px;
            width: 68px;
            height: 68px;
            border: #000 0px solid;
            _border: #fff 2px solid;
            background-position: 50% 50%;
        }


        #_panelId_ .thumbnail-navigator.nv-thumbnail.t01 .current:hover .current-target {
            top: 0px;
            left: 0px;
            width: 70px;
            height: 70px;
            border: #fff 1px solid;
            background-position: 50% 50%;
        }

        #_panelId_ .thumbnail-navigator.nv-thumbnail.t01 .currentdn .current-target {
            background-position: 50% 50%;
            width: 68px;
            height: 68px;
            border: #000 2px solid;
        }

#_panelId_ * html .thumbnail-navigator.nv-thumbnail.t01 .current-target,
#_panelId_ * html .thumbnail-navigator.nv-thumbnail.t01 .currentdn .current-target,
#_panelId_ * html .thumbnail-navigator.nv-thumbnail.t01 .currentav .current-target {
    /* ie quirks mode adjust */
    width
    /**/
    : 72px;
    height
    /**/
    : 72px;
}
