<div id="content" tabindex="0" ng-controller="FrameworkPageEditorCtrl" oncontextmenu="return false;">
    <div id="content-header" class="content-header col-sm-12 col-padding-clear"  ng-hide="editorInfo.type == 'component'">
        <div id="content-header-body" class="content-header-body" style="z-index:1;"></div>
    </div>
    <div class="clearfix"></div>
    <div id="content-body" class="content-body">
        <div id="content-body-body" class="content-body-body" style="z-index:1;"></div>
    </div>
    <div id="content-footer" class="content-footer col-sm-12 col-padding-clear" ng-hide="editorInfo.type == 'component'">
        <div id="content-footer-body" class="content-footer-body" style="z-index:1;"></div>
    </div>
    <div class="clearfix"></div>

    <!--<div id="content-full" class="content-full"></div>-->
    <!--<div id="content-body" class="content-body"></div>-->
</div>