<div class="setting-content">
    <div class="form-group row">
        <div class="col-sm-12">
            <div class="pull-left">
                样式名称：
            </div>
            <div class="pull-left">
                <input type="text" class="form-control" ng-model="copyStyleTemplate.title" style="height:30px;">
            </div>
        </div>
    </div>
</div>
<div class="setting-btn">
    <div class="form-group text-center">
        <button class="btn btn-primary" ng-click="btnCopy($event)">确定</button>
    </div>
</div>