<div class="col-sm-12 manuscript" ng-controller="StyleManageCtrl">
    <!-- Recycle Body -->
    <div class="col-sm-12 nopadding">
        <ul class="col-sm-12 nav nav-tabs management-content-bar nopadding">
            <li class="active" ng-click="switchStatue($event,'Check')"><a href="javascript:void(0);">上架申请<s class="active"><i></i></s></a></li>
            <li ng-click="switchStatue($event,'Active')"><a href="javascript:void(0);">上架中的样式</a></li>
            <li ng-click="switchStatue($event,'Deactive')"><a href="javascript:void(0);">下架中的样式</a></li>
        </ul>
    </div>


    <div class="conditionQuery">
        <div class="col-sm-12 nopadding">
            <div class="col-sm-3 pull-left keyword">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="输入稿件编号或样式名称" ng-model="styleKeyword">
                    <span class="input-group-addon" ng-click="keyword()"><i class="iconfont icon-search"></i></span>
                </div>
            </div>
            <div class="col-sm-1 pull-left more-condition" style="width: 110px;" ng-click="showMoreCondition()">
                <span>精简筛选条件</span>
                <i class="iconfont icon-down-arrow" ng-hide="moreCondition"></i>
                <i class="iconfont icon-up-arrow" ng-show="moreCondition"></i>
            </div>
        </div>

        <div class="pull-right query-more-condition" ng-show="moreCondition">
            <div class="form-inline">
                <div class="form-group" style="margin-right:210px;">
                    <label>终端筛选：</label>
                    <select class="form-control" ng-model="styleCondition.webType">
                        <option value="">全部</option>
                        <option value="Web">PC</option>
                        <!--<option value="WAP">MB</option>-->
                    </select>
                </div>

                <div class="form-group">
                    <label>样式类型：</label>
                    <select class="form-control" ng-model="styleCondition.moduleType"
                            ng-options="model.key as model.title for model in tpl_status.sltModuleList"></select>
                </div>

                <div class="form-group pull-right nomargin">
                    <label>设计师：</label>
                    <input class="form-control" ng-model="styleCondition.editor">
                </div>

                <div class="form-group">
                    <label>编辑日期：</label>
                    <div class="form-control datetimepicker">
                        <input type="text" id="datetimepicker" ng-model="styleCondition.lastEditTime" style="width: 180px;">
                        <span class="add-on" ng-click="removeDate($event)"><i class="iconfont icon-close"></i></span>
                    </div>
                </div>

                

                <div class="form-group pull-right nomargin">
                    <button class="btn btn-primary btn-add pull-left" ng-click="queryList()">搜 索</button>
                </div>
            </div>
        </div>
    </div>






    <!-- Grid -->
    <div class="col-sm-12 template nopadding">
        <div class="col-sm-12 grid nopadding">
            <div class="col-sm-3 col-padding-clear column" ng-repeat="template in styleList">
                <div class="column-template" style="padding:0">
                    <div class="col-sm-12 col-padding-clear template-title">
                        <span style="line-height: 28px;">{{ template.title }}</span>
                        <i ng-show="template.prcoessStatus === 'Deactive'" ng-click="btnDelete(template)" class="iconfont icon-close" title="删除"></i>
                    </div>
                    <div class="col-sm-12 col-padding-clear template-body" style="background-image: url({{host}}{{ template.previewImg }});margin:0">
                        <div class="template-description" ng-click="previewStyle(template)">
                            <div class="template-style">
                                <div>
                                    <span>申请人:</span>
                                    <span>{{ template.editor }}</span>
                                </div>
                                <div>
                                    <span>样式名称:</span>
                                    <span>{{ template.title }}</span>
                                </div>
                                <div>
                                    <span>样式类别:</span>
                                    <span>{{ template.moduleName }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-padding-clear text-center">
                        <span class="btn-pass" ng-show="template.prcoessStatus === 'Check'" ng-click="checkSuccess(template)">YES</span>
                        <span class="btn-refuse" ng-show="template.prcoessStatus === 'Check'" ng-click="checkFailure(template)">NO</span>
                        <button class="btn btn-apply" ng-show="template.prcoessStatus === 'Active'" style="margin: 3px 0;" ng-click="unShelve(template)">下架</button>
                        <button class="btn btn-apply" ng-show="template.prcoessStatus === 'Deactive'" style="margin: 3px 0;" ng-click="Shelve(template)">上架</button>
                        </di>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-page text-right" id="content-page">
            <pagination total-items="templatePage.total"
                        ng-model="templatePage.pageIndex"
                        items-per-page="templatePage.pageSize"
                        max-size="5"
                        class="pagination-sm"
                        boundary-links="true"
                        rotate="false"
                        ng-change="pageChanged()"
                        previous-text="前一页"
                        next-text="下一页"
                        first-text="首页"
                        last-text="尾页"></pagination>
        </div>
    </div>
