#_panelId_ * {
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

#_panelId_ .col-label {
    text-align: right;
    margin-top: 3px;
}

/*Special Controls*/
#_panelId_ textarea {
    height: 150px;
}

#_panelId_ #validCode {
    width: 80px;
    height: 42px;
}

#_panelId_ [type='text'] {
    height: 25px;
}

#_panelId_ .tel-label {
    padding-top: 10px;
    width: 99px;
    text-align: right;
}

#_panelId_ .col-label-inline {
    padding-top: 10px;
}

#_panelId_ .form-col{
    margin-left: 5px;
}
    #_panelId_ .form-col [type='checkbox'] {
        margin-right: 5px;
    }
/*Special Controls End*/


#_panelId_ .kdo-panel {
    /*border: 1px solid #eee;*/
    border-radius: 0.8em;
    padding: 5px 0;
    min-width: 580px;
}

