@charset "utf-8";
/* CSS Document */
#_panelId_ ul.links,#_panelId_ .linksContent{
    margin: 0px auto;
    padding: 0;
    width:100%;
}

    #_panelId_ ul.links li {
        float: left;
        display: inline-block;
    }      
        #_panelId_ ul.links li a {
            display:block;
            color:#333333;
            height:100%;
            width:auto;
            font-size:12px;
            text-align:center;
        }
            #_panelId_ ul.links li a span {
                vertical-align: middle;
                display: block;
                vertical-align: middle;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow:hidden;
            }

            #_panelId_ ul.links li a img {
                width: 100%;
                height: 100%;
            }