<!--<div>
    <div class="pull-left">
        <label>样式预览:</label>
    </div>
    <div class="pull-right">
        <button class="btn btn-primary" ng-click="openGrid()">设置</button>
    </div>
    <div class="clearfix"></div>
    <div class="text-center" style="margin-top: 5px; min-width:50px; min-height: 50px; max-height: 220px;">
        <img ng-src="{{template.previewImg}}" style="width:220px; height: 220px;" />
    </div>
</div>-->

<div>
    <div class="custom-preview">
        <button class="btn btn-setting-style" ng-click="openGrid()">样式设置</button>
    </div>
</div>

