<div class="locationsize-manage">
    <div class="pull-left">
        <label>位置与大小:</label>
    </div>
    <div class="clearfix"></div>
    <form class="form-inline">
        <div class="form-group col-sm-6 text-right">
            <label>X</label>
            <input type="text" class="form-control txt-number" maxlength="4" ng-model="style.left">
        </div>
        <div class="form-group col-sm-6 text-right">
            <label>Y</label>
            <input type="text" class="form-control txt-number" maxlength="4" ng-model="style.top">
        </div>
        <div class="clearfix" style="margin:5px 0px;"></div>
        <div class="form-group col-sm-6 text-right">
            <label>宽度</label>
            <input type="text" class="form-control txt-number" maxlength="4" ng-model="style.width">
        </div>
        <div class="form-group col-sm-6 text-right">
            <label>高度</label>
            <input type="text" class="form-control txt-number" maxlength="4" ng-model="style.height">
        </div>
    </form>
</div>