<div class="col-sm-12 photogallery-manage">
    <div class="col-sm-12 col-padding-clear manage-header">
        <div class="col-sm-1" style="width: 100px;">
            <label>封面信息:</label>
            <img src="{{ selectedPhoto.src }}" style="width:80px; height:80px;" />
        </div>
        <div class="col-sm-1" style="width: 300px;">
            <div>
                <label>图片名称:</label>
                <span>{{ selectedPhoto.title }}</span>
            </div>
            <div>
                <label>图集说明:</label>
            </div>
            <div>
                <span>{{ selectedPhoto.desc }}</span>
            </div>
        </div>
        <button class="btn btn-primary pull-right" ng-click="btnSelectPhoto()">选择图集</button>
    </div>
    <div class="col-sm-12 col-padding-clear manage-body">
        <div class="col-sm-3 col-padding-clear image-column {{ image.focus }}" style="width:120px" ng-repeat="image in selectedPhoto.images">
            <div class="pull-left" ng-click="btnToggleImage(image)">
                <img ng-src="{{ image.src }}" style="width:120px; height: 120px;" title="{{ image.title }}" />
            </div>
            <!--<div class="clearfix">
                <i class="iconfont icon-delete" ng-click="btnDeleteFile(file)"></i>
            </div>-->
        </div>
    </div>
    <div class="form-group text-center">
        <button class="btn btn-primary" ng-click="btnOK($event)">确定</button>
    </div>
</div>