<div ng-controller="SettingCustomStyleCtrl" style="min-width:310px;">
    <div class="form-group row lanh-line">
        <div class="col-sm-12">
            <custom-manage type="{{customStyleType}}"></custom-manage>
        </div>
    </div>
    <div class="form-group row lanh-line">
        <div class="col-sm-12">
            <location-size-manage></location-size-manage>
        </div>
    </div>
    <div class="form-group text-center">
        <button class="btn btn-primary" ng-click="btnOK()">确定</button>
    </div>
</div>