#_panelId_ ul.menu-nav.h-menu {
    height:100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    background:rgb(50,197,210);
}
  #_panelId_  ul.menu-nav.h-menu li {
        float: left;
        display: inline-block;
        position: relative;
        text-align: center;
    }

      #_panelId_  ul.menu-nav.h-menu li a {
            display: inline-block;
           color:#fff;
             font-size:14px;
            max-width: 200px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

     
       #_panelId_ ul.menu-nav.h-menu li ul {
            overflow:hidden;
            background:rgb(50,197,210);
            width: 100%;
            position: absolute;
            top: 24px;
            left: 0px;
            display: none;
        }

          #_panelId_  ul.menu-nav.h-menu li ul li {
               background:rgb(50,197,210);
                width: 100%;
                padding: 0px;
                max-height: 34px;
                overflow: hidden;
                line-height: 25px;
                  white-space: nowrap;
                  text-align:center;
}

              #_panelId_  ul.menu-nav.h-menu li ul li a {
                    font-size: 1em;
                    display: block;
                    font-size:1em;
                }
    #_panelId_ ul.menu-nav.h-menu li.links{
        background-color:rgb(50,197,210);
    }