
/* Header Begin*/
.header {
    background: #303e53;
    position: fixed;
    top: 0;
    left: 0px;
    z-index: 90;
    width: 100%;
    min-width: 1200px;
    -moz-box-shadow: 0px 2px 2px #2c394d;
    -webkit-box-shadow: 0px 2px 2px #2c394d;
    box-shadow: 0px 2px 2px #2c394d;
    padding-top: 5px;
}

    .header .col {
        margin-right: 10px;
        height: 50px;
    }

    .header .logo {
        background: url('../images/framework/logo_blue.png') no-repeat;
        width: 160px;
    }

        .header .logo .text {
            color: white;
            float: right;
            padding-top: 15px;
            width: 115px;
        }

            .header .logo .text p {
                margin: 0px;
                font-size: 12px;
                line-height: 12px;
                padding: 0;
            }

    .header .platform dl,
    .header .platform dd {
        margin-right: 5px;
        float: left;
        width: 64px;
        height: 42px;
        text-align: center;
        line-height: 42px;
        list-style-type: none;
        border-radius: 5px;
        cursor: pointer;
    }

        .header .platform dd:hover {
            background: rgba(62, 197, 223, 0.50);
        }

    .header .platform .on {
        background: #3ec5df !important;
    }

    .header .platform .iconfont {
        font-family: "iconfont" !important;
        color: white;
        font-size: 28px;
    }

    .header .page-dropdownlist {
        width: 280px;
        background: rgb(227, 227, 227);
        margin-top: 5px;
    }

    .header .features {
        list-style: none;
        padding: 0px;
        margin: 0px;
    }

        .header .features li {
            position: relative;
            float: left;
            width: 56px;
            height: 50px;
            line-height: 50px;
            text-align: center;
            list-style-type: none;
        }

            .header .features li .iconfont {
                font-family: "iconfont" !important;
                color: #fff;
                font-size: 16px;
            }

            .header .features li.disabled,
            .header .features li.disabled .iconfont {
                color: #939498;
                cursor: not-allowed;
            }

            .header .features li.enabled {
                color: #fff;
                cursor: pointer;
            }

        .header .features > li.enabled:hover {
            background: rgb(128, 128, 128);
        }

            .header .features > li.enabled:hover > .iconfont {
                color: #3ec5df;
            }

        .header .features li.enabled:hover .menu {
            display: block;
        }

        .header .features .menu {
            position: absolute;
            top: 50px;
            left: -72px;
            padding: 0 5px;
            width: 200px;
            height: 40px;
            line-height: 40px;
            z-index: 91;
            border-radius: 5px;
            -moz-box-shadow: 0px 5px 10px #808080;
            -webkit-box-shadow: 0px 5px 10px #808080;
            box-shadow: 0px 5px 10px #808080;
            background: rgb(128, 128, 128);
            display: none;
        }

            .header .features .menu ul {
                padding-left: 6px;
            }

            .header .features .menu li {
                width: 20px;
                height: 40px;
                line-height: 40px;
                margin: 0px 5px;
            }

                .header .features .menu li .iconfont {
                    /*color: rgb(200, 200, 200);*/
                    color: #fff;
                }

                .header .features .menu li:hover .iconfont {
                    color: #3ec5df;
                }

    .header .buttons {
        height: 50px;
        line-height: 50px;
    }

        .header .buttons span {
            color: white;
            margin-right: 5px;
        }

        .header .buttons button {
            color: white;
            text-decoration: none;
        }

            .header .buttons button:hover {
                background: rgb(128, 128, 128);
                border-radius: 5px;
                color: #3ec5df;
            }
/* Header End*/

.framework {
}

    /* Left Menu Begin*/
    .framework .left-menu {
        padding-top: 20px;
        background: #34435a;
        position: fixed;
        top: 50px;
        left: 0px;
        width: 70px;
        padding-left: 10px;
        height: 100%;
        z-index: 88;
    }

        .framework .left-menu ul {
            padding: 0;
            margin: 0;
            margin-bottom: 2px;
        }

            .framework .left-menu ul > li {
                color: #fff;
                position: relative;
                cursor: pointer;
                margin-bottom: 30px;
                list-style-type: none;
            }

                .framework .left-menu ul > li.disabled {
                    color: #939498;
                    cursor: not-allowed;
                }

                .framework .left-menu ul > li > i {
                    display: block;
                    width: 50px;
                    height: 40px;
                    text-align: center;
                    font-size: 24px;
                    line-height: 50px;
                    /*border: 1px solid #34435a;*/
                    position: relative;
                    border-radius: 5px;
                }

                .framework .left-menu ul > li > span {
                    display: block;
                    width: 50px;
                    height: 20px;
                    line-height: 20px;
                    text-align: center;
                    font-size: 12px;
                }

                .framework .left-menu ul > li:hover i {
                    /*border: 1px solid #3e5372;*/
                }

                .framework .left-menu ul > li.on > i {
                    background-image: url('../images/framework/_onimg_blue.png');
                }

                .framework .left-menu ul > li > .background {
                    position: absolute;
                    width: 20px;
                    height: 56px;
                    right: -2px;
                    top: 1px;
                }

                .framework .left-menu ul > li.on > .background {
                    background: url('../images/framework/_jk_blue.png') no-repeat;
                }

                .framework .left-menu ul > li > .child-menu {
                    position: absolute;
                    top: 1px;
                    left: 59px;
                    width: 320px;
                    min-height: 100px;
                    border-radius: 0px 10px 10px 10px;
                    z-index: 89;
                    -webkit-box-shadow: 0 5px 15px #333;
                    -moz-box-shadow: 0 5px 15px #333;
                    box-shadow: 0 5px 15px #333;
                    border-left: 5px solid #3ec5df;
                    background: #fff;
                    color: #4c4c4c;
                    cursor: auto;
                    padding: 5px 0px;
                    display: none;
                }

                .framework .left-menu ul > li.on > .child-menu {
                    display: block;
                }

                .framework .left-menu ul > li > .child-menu .menu-top {
                    line-height: 28px;
                    font-weight: bold;
                    overflow: hidden;
                }

                .framework .left-menu ul > li > .child-menu .menu-top {
                    padding: 0px 10px;
                }

                .framework .left-menu ul > li > .child-menu .menu-body li .child-menu-2 .menu-top {
                    padding: 7px 10px;
                }

                    .framework .left-menu ul > li > .child-menu .menu-top .btn_colse,
                    .framework .left-menu ul > li > .child-menu .menu-body li .child-menu-2 .menu-top .btn_colse {
                        float: right;
                        font-size: 24px;
                        font-weight: normal;
                        cursor: pointer;
                        text-align: right;
                    }

                .framework .left-menu ul > li > .child-menu .description,
                .framework .left-menu ul > li > .child-menu .menu-body li .child-menu-2 .description {
                    color: #8d8b8c;
                    text-align: left;
                    padding: 0px 10px;
                }

                .framework .left-menu ul > li > .child-menu .line,
                .framework .left-menu ul > li > .child-menu .menu-body li .child-menu-2 .line {
                    border-bottom: 1px solid #c8c8c8;
                }

                .framework .left-menu ul > li > .child-menu .menu-body,
                .framework .left-menu ul > li > .child-menu .menu-body li .child-menu-2 .menu-body {
                    list-style-type: none;
                    padding: 0px;
                    max-height: 300px;
                    overflow-x: hidden;
                    overflow-y: auto;
                }

                    .framework .left-menu ul > li > .child-menu .menu-body li,
                    .framework .left-menu ul > li > .child-menu .menu-body li .child-menu-2 .menu-body li {
                        margin-bottom: 0px;
                        padding-left: 10px;
                        height: 50px;
                        border-bottom: 1px solid #e9e9e9;
                        position: static;
                    }

                        /*.framework .left-menu ul > li > .child-menu .menu-body li .full,
                            .framework .left-menu ul > li > .child-menu .menu-body li .child-menu-2 .menu-body li .full {
                                position: absolute;
                                width: 100%;
                            }*/

                        .framework .left-menu ul > li > .child-menu .menu-body li > a,
                        .framework .left-menu ul > li > .child-menu .menu-body li .child-menu-2 .menu-body li > a {
                            width: 100%;
                            font-size: 13px;
                            color: #4f4f4f;
                            line-height: 50px;
                            overflow: hidden;
                            position: static;
                        }

                        .framework .left-menu ul > li > .child-menu .menu-body li a .name,
                        .framework .left-menu ul > li > .child-menu .menu-body li .child-menu-2 .menu-body li a .name {
                            width: 50%;
                            overflow: hidden;
                            float: left;
                            height: 50px;
                            line-height: 50px;
                            text-align: left;
                            font-size: 13px;
                            color: #4c4c4c;
                        }

                            .framework .left-menu ul > li > .child-menu .menu-body li a .name.full,
                            .framework .left-menu ul > li > .child-menu .menu-body li .child-menu-2 .menu-body li a .name.full {
                                width: 100%;
                            }

                            .framework .left-menu ul > li > .child-menu .menu-body li a .name .iconfont,
                            .framework .left-menu ul > li > .child-menu .menu-body li .child-menu-2 .menu-body li a .name .iconfont {
                                font-size: 22px;
                                margin-right: 5px;
                                color: #919598;
                            }

                        .framework .left-menu ul > li > .child-menu .menu-body li > .location,
                        .framework .left-menu ul > li > .child-menu .menu-body li .child-menu-2 .menu-body li > .location {
                            border-left: 1px solid #c8c8c8;
                            padding: 7px 5px 0px 5px;
                            width: 124px;
                            margin-right: 0px;
                            float: right;
                            height: 100%;
                            display: none;
                        }

                            .framework .left-menu ul > li > .child-menu .menu-body li > .location button,
                            .framework .left-menu ul > li > .child-menu .menu-body li .child-menu-2 .menu-body li > .location button {
                                color: rgb(61, 197, 223);
                            }

                        .framework .left-menu ul > li > .child-menu .menu-body li:hover,
                        .framework .left-menu ul > li > .child-menu .menu-body li .child-menu-2 .menu-body li:hover {
                            background-color: rgb(238, 238, 238);
                        }

                            .framework .left-menu ul > li > .child-menu .menu-body li:hover a .name .iconfont,
                            .framework .left-menu ul > li > .child-menu .menu-body li .child-menu-2 .menu-body li:hover a .name .iconfont {
                                color: rgb(61, 197, 223);
                            }

                        .framework .left-menu ul > li > .child-menu .menu-body li .child-menu-2,
                        .framework .left-menu ul > li > .child-menu .menu-body li .child-menu-2 .menu-body li .child-menu-2 {
                            position: absolute;
                            width: 100%;
                            min-height: 420px;
                            min-height: 100px;
                            top: 0;
                            left: 316px;
                            z-index: 0;
                            border-radius: 10px 10px 10px 10px;
                            -webkit-box-shadow: 0 5px 15px #333;
                            -moz-box-shadow: 0 5px 15px #333;
                            box-shadow: 0 5px 15px #333;
                            background: #fff;
                            color: #4c4c4c;
                            padding: 0;
                            overflow: hidden;
                            cursor: auto;
                            display: none;
                        }

                        .framework .left-menu ul > li > .child-menu .menu-body li.on .child-menu-2 {
                            display: block;
                        }
    /* Left Menu End*/

    /* Right Editor */
    .framework .pageeditor #content {
        position: relative;
        margin: 57px auto 0 70px;
        z-index: 0;
        width: auto;
    }
        .framework .pageeditor #content > .content-header {
            width: 100%;
            height: 200px;
            border-bottom: 1px dashed #999;
            z-index: 0;
        }
            .framework .pageeditor #content > .content-header > .content-header-body {
                width: 1200px;
                height: 100%;
                border-left: 1px dashed #999;
                border-right: 1px dashed #999;
                margin: auto;
                position: relative;
                z-index: 0;
            }

        .framework .pageeditor #content > .content-body {
            width: 100%;
            /*min-height: 1000px;*/
            height: 1200px;
            z-index: 0;
        }
        
            .framework .pageeditor #content > .content-body > .content-body-body {
                width: 1200px;
                height: 100%;
                border-left: 1px dashed #999;
                border-right: 1px dashed #999;
                margin: auto;
                position: relative;
                z-index: 0;
            }

        .framework .pageeditor #content > .content-footer {
            width: 100%;
            height: 200px;
            border-top: 1px dashed #999;
            border-bottom: 1px dashed #999;
            margin-bottom: 20px;
        }

            .framework .pageeditor #content > .content-footer > .content-footer-body {
                width: 1200px;
                height: 100%;
                border-left: 1px dashed #999;
                border-right: 1px dashed #999;
                margin: auto;
                position: relative;
                z-index: 0;
            }
    /* jQuery UI repair */
    .framework .pageeditor .ui-widget-content {
        border: 2px solid transparent;
    }

        .framework .pageeditor .ui-widget-content.hover,
        .framework .pageeditor .ui-widget-content.new {
            border: 2px solid rgba(255, 0, 0, 0.40);
        }
        .framework .pageeditor .ui-widget-content.hover-target{
            border: 2px solid rgba(255, 0, 255, 0.40);
        }

        .framework .pageeditor .ui-widget-content.on {
            border: 2px solid red;
        }

    .framework .drop-state-hover {
        background: #999;
        opacity: 0.25;
    }

    .framework .drop-state-active {
        background: #999;
        opacity: 0.5 !important;
    }
